.titles {
  display: flex;
  gap: 80px;
  background-color: white;
  justify-content: space-between;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.training-wrapper {
  background-color: white;
  border: 2px solid black;
  border-radius: 30px; /* Вот это создаёт закругление */
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.training-item {
  background-color: white;

  display: flex;
  justify-content: space-between;
}

.actions {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.actions button {
  padding: 4px 8px;
  border: none;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
}

.actions button:hover {
  background-color: #b1d8e4;
  border-radius: 6px;
}

.info {
  font-size: 18px;
  font-weight: 700;
}

.wrapper {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
  gap: 20px;
  padding: 30px;
}

.btn-ok {
  cursor: pointer;
  border: 2px solid #000;
  height: 30px;
  border-radius: 6px;
  width: 60px;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 700;
}

.btn-ok:hover {
  background-color: aquamarine;
}

.input-date {
  width: 160px;
  height: 40px;
  border-radius: 6px;
  border: 2px solid #000;
  padding-left: 10px;
  font-size: 18px;
}

.input-km {
  width: 160px;
  height: 40px;
  border-radius: 6px;
  border: 2px solid #000;
  padding-left: 10px;
  font-size: 18px;
}
